SQLAlchemy
psycopg-binary
psutil
pandas
python-dotenv

# For OpenAI
openai
tiktoken

# For API Server
aiohttp
aiohttp_cors
aiosqlite

# For MCP
fastmcp

# Personal libraries
analyze_image_mcp@git+https://github.com/knd3dayo/analyze_image_mcp.git
web_search_mcp@git+https://github.com/knd3dayo/web_search_mcp.git
extract_file_mcp@git+https://github.com/knd3dayo/extract_file_mcp.git
ai_chat_mcp@git+https://github.com/knd3dayo/ai_chat_mcp.git
vector_search_mcp@git+https://github.com/knd3dayo/vector_search_mcp.git
