SQLAlchemy
psycopg-binary
psutil
chardet
pandas
python-dotenv

# For OpenAI
openai
tiktoken

# For Langchain
langchain==0.3.4
langchain-openai==0.2.3
langchain-community==0.3.3
langchain-chroma
langchain_postgres
chroma-hnswlib==0.7.3
chromadb==0.5.0

# For File,Excel
magika
pillow
python-docx
python-dotenv
python-pptx
openpyxl
markdown
pdfminer.six
beautifulsoup4

# For Web
wikipedia
playwright

# For API Server
aiohttp
aiosqlite
aiofiles


# For MCP
fastmcp
