SQLAlchemy
psycopg-binary
psutil
pandas
python-dotenv

# For OpenAI
openai
tiktoken

# For API Server
aiohttp
aiohttp_cors
aiosqlite
fastapi


# Personal libraries
ai-chat-util@git+https://github.com/knd3dayo/ai-chat-util.git
web-search-util@git+https://github.com/knd3dayo/web-search-util.git
file-util@git+https://github.com/knd3dayo/file-util.git
vector-search-util@git+https://github.com/knd3dayo/vector-search-util.git
